# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/node_modules.partial
/node_modules.pnpm-partial
/.npm-cache
/.pnpm-home
/.pnpm-store
/.pnpm-cache-global
/.pnpm-cache-global-old
/.pnpm-dlx-cache
/.xdg-cache
/.xdg-data
/.xdg-state
/.corepack
/.tmp
/.tools
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage
/.venv-backend/
**/__pycache__/
*.py[cod]

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

.vercel
.env*.local
